@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@600&display=swap"); */

@font-face {
  font-family: rota-bold;
  src: url(/fonts/Rota-Bold.otf);
}
@font-face {
  font-family: rota-sb;
  src: url(/fonts/Rota-SemiBold.otf);
}
@font-face {
  font-family: rota-black;
  src: url(/fonts/Rota-Black.otf);
}

@font-face {
  font-family: uc-sb;
  src: url(/fonts/UncutSans-Semibold.woff);
}
@font-face {
  font-family: uc-bold;
  src: url(/fonts/UncutSans-Bold.woff);
}
@font-face {
  font-family: uc-medium;
  src: url(/fonts/UncutSans-Medium.woff);
}
@font-face {
  font-family: uc-regular;
  src: url(/fonts/UncutSans-Regular.woff);
}

.uc-sb {
  font-family: uc-sb, sans-serif;
}
.uc-bold {
  font-family: uc-bold, sans-serif;
}
.uc-medium {
  font-family: uc-medium, sans-serif;
}

.uc-regular {
  font-family: uc-regular, sans-serif;
}

.rota-sb {
  font-family: rota-sb, sans-serif;
}
.rota-black {
  font-family: rota-black, sans-serif;
}
.rota-bold {
  font-family: rota-bold, sans-serif;
}

.kalnia {
  font-family: Kalnia, serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

#mob-drawer {
  z-index: 9999;
}

:root {
  --swiper-pagination-bottom: 0px;
  --swiper-pagination-color: #9356c0;
  --swiper-navigation-color: #9356c0;
  --swiper-navigation-size: 2px;
  --swiper-navigation-sides-offset: -2px;
}

:host {
  --swiper-navigation-size: 2px;
}

.terms ul {
  list-style-type: disc;
  margin-left: 1em;
  margin-top: 0.5em;
}

.variant-form input[type="radio"] {
  visibility: hidden;
  height: 0;
  width: 0;
}

.variant-form label {
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 24px;
  border: solid 2px;
  margin-left: 8px;
  margin-right: 8px;
  transition: 0.4s;
}
.variant-form input[type="radio"]:checked + label {
  background-color: #FFF100;
  color: white;
  border: solid 2px #FFF100;
}

/* loader */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #FFF100;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* dot loader */
/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #FFF100 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/* :root {
      --foreground-rgb: 0, 0, 0;
      --background-start-rgb: 214, 219, 220;
      --background-end-rgb: 255, 255, 255;
    }

    @media (prefers-color-scheme: dark) {
      :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
      }
    }
*/
    body {
     overflow-x: hidden;
    } 
@layer utilities {
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar-thumb {
    background: #FFF100;
    width: 20px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f0e9f6;
    width: 20px;
    border-radius: 10px;
  }
}
.filter-scroll input[type="checkbox"] {
  display: none;
}

.filter-scroll label {
  border: 1px solid transparent;
  padding: 8px 0px;
  display: block;
  position: relative;
  margin: 4px;
  cursor: pointer;
}

.filter-scroll label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  /* border: 1px solid grey; */
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.filter-scroll label img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

.filter-scroll :checked + label {
  border-color: #4f3084;
  border-radius: 100%;
}

.filter-scroll :checked + label:before {
  content: "✓";
  background-color: #4f3084;
  transform: scale(1);
}

.filter-scroll :checked + label img {
  transform: scale(0.95);
  /* box-shadow: 0 0 5px #333; */
}

.filter-scroll::-webkit-scrollbar {
  height: 4px;
  display: none;
}

.filter-scroll::-webkit-scrollbar-track {
  background: #f9b71f6e;
}

.filter-scroll::-webkit-scrollbar-thumb {
  background: rgb(79, 48, 132);
  border-radius: 32px;
}

.terms ul li {
  font-size: 12px;
}

@font-face {
  font-family: rota-bold;
  src: url(/fonts/Rota-Bold.otf);
}
@font-face {
  font-family: rota-sb;
  src: url(/fonts/Rota-SemiBold.otf);
}
@font-face {
  font-family: rota-black;
  src: url(/fonts/Rota-Black.otf);
}

html {
  scroll-behavior: smooth;
}
.rota-sb {
  font-family: rota-sb, sans-serif;
}
.rota-black {
  font-family: rota-black, sans-serif;
}
.rota-bold {
  font-family: rota-bold, sans-serif;
}

#mob-drawer {
  z-index: 9999;
}

.terms ul {
  list-style-type: disc;
  margin-left: 1em;
  font-size: small;
  margin-top: 0.5em;
}

.variant-form input[type="radio"] {
  visibility: hidden;
  height: 0;
  width: 0;
}

.variant-form label {
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 24px;
  border: solid 2px;
  margin-left: 8px;
  margin-right: 8px;
  transition: 0.4s;
}
.variant-form input[type="radio"]:checked + label {
  background-color: #FFF100;
  color: white;
  border: solid 2px #FFF100;
}

/* loader */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #FFF100;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* dot loader */
/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #FFF100 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 5px;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar-thumb {
    background: #FFF100;
    width: 20px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f0e9f6;
    width: 20px;
    border-radius: 10px;
  }
}
.filter-scroll input[type="checkbox"] {
  display: none;
}

.filter-scroll label {
  border: 1px solid transparent;
  padding: 8px 0px;
  display: block;
  position: relative;
  margin: 4px;
  cursor: pointer;
}

.filter-scroll label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  /* border: 1px solid grey; */
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.filter-scroll label img {
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

.filter-scroll :checked + label {
  border-color: #4f3084;
  border-radius: 100%;
}

.filter-scroll :checked + label:before {
  content: "✓";
  background-color: #4f3084;
  transform: scale(1);
}

.filter-scroll :checked + label img {
  transform: scale(0.95);
  /* box-shadow: 0 0 5px #333; */
}

.filter-scroll::-webkit-scrollbar {
  height: 4px;
  display: none;
}

.filter-scroll::-webkit-scrollbar-track {
  background: #f9b71f6e;
}

.filter-scroll::-webkit-scrollbar-thumb {
  background: rgb(79, 48, 132);
  border-radius: 32px;
}

.terms ul li {
  font-size: 12px;
}

/* check box css */
.checkboxs-wrapper-33 {
  --s-xsmall: 0.625em;
  --s-small: 1.2em;
  --border-width: 1px;
  --c-primary: #4f3084;
  --c-primary-20-percent-opacity: rgb(95 17 232 / 20%);
  --c-primary-10-percent-opacity: rgb(95 17 232 / 10%);
  --t-base: 0.4s;
  --t-fast: 0.2s;
  --e-in: ease-in;
  --e-out: cubic-bezier(0.11, 0.29, 0.18, 0.98);
}

.checkboxs-wrapper-33 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkboxs-wrapper-33 .checkboxs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.checkboxs-wrapper-33 .checkboxs + .checkboxs {
  margin-top: var(--s-small);
}
.checkboxs-wrapper-33 .checkboxs__symbol {
  display: inline-block;
  display: flex;
  margin-right: calc(var(--s-small) * 0.7);
  border: var(--border-width) solid var(--c-primary);
  position: relative;
  border-radius: 0.1em;
  width: 1.25em;
  height: 1.25em;
  transition: box-shadow var(--t-base) var(--e-out),
    background-color var(--t-base);
  box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}
.checkboxs-wrapper-33 .checkboxs__symbol:after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 0.25em;
  height: 0.25em;
  background-color: var(--c-primary-20-percent-opacity);
  opacity: 0;
  border-radius: 3em;
  transform: scale(1);
  transform-origin: 50% 50%;
}
.checkboxs-wrapper-33 .checkboxs .icon-checkboxs {
  width: 1em;
  height: 1em;
  margin: auto;
  fill: none;
  stroke-width: 3;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  color: var(--c-primary);
  display: inline-block;
}
.checkboxs-wrapper-33 .checkboxs .icon-checkboxs path {
  transition: stroke-dashoffset var(--t-fast) var(--e-in);
  stroke-dasharray: 30px, 31px;
  stroke-dashoffset: 31px;
}
.checkboxs-wrapper-33 .checkboxs__textwrapper {
  margin: 0;
}
.checkboxs-wrapper-33 .checkboxs__trigger:checked + .checkboxs__symbol:after {
  -webkit-animation: ripple-33 1.5s var(--e-out);
  animation: ripple-33 1.5s var(--e-out);
}
.checkboxs-wrapper-33
  .checkboxs__trigger:checked
  + .checkboxs__symbol
  .icon-checkboxs
  path {
  transition: stroke-dashoffset var(--t-base) var(--e-out);
  stroke-dashoffset: 0px;
}
.checkboxs-wrapper-33 .checkboxs__trigger:focus + .checkboxs__symbol {
  box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
}

@-webkit-keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}

@keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale(20);
  }
}

/* radio button css */
.radioField form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.radioField label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}

.radioField label input {
  position: absolute;
  left: -9999px;
}

/* .radio label input:checked + span {
      background-color: ##FFF100;
      color: white;
    } */

.radioField label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #FFF100;
  color: #FFF100;
}

.radioField label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  /* color: #FFF100; */
}

.radioField label span:hover {
  background-color: #d6d6e5;
}

.radioField label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #FFF100;
}
swiper-container::part(wrapper) {
  align-items: center;
}
/* Redirect page please wait..... gradient */
.gradient-text {
  background: linear-gradient(to right, #fec447, #c6011f, #fec447, #c6011f);
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  color: transparent; /* Hide the text */
  animation: gradientAnimation 3s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }}


    
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
